::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

::-moz-placeholder {
  color: #32e5c4;
}

:-ms-input-placeholder {
  color: #32e5c4;
}

::placeholder {
  color: #32e5c4;
}

.saveInfoBox {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.savebox {
  position: relative;
  width: 90vw;
  height: 70vh;
  border: 4px solid #32e5c4;
  border-radius: 4.4mm;
  background-color: rgb(46, 44, 44);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.oneLine {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.save-text {
  margin: 0px;
  width: 70%;
  height: 45px;
  background-color: rgb(63, 63, 63);
  border: none;
  border-radius: 1.4mm;
  padding-left: 10px;
  cursor: text;
  font-size: 25px;
  color: #32e5c4;
}
.save-text:focus {
  outline: none;
}

.remove {
  width: 50px;
  height: 50px;
  border: 4px solid red;
  border-radius: 2.4mm;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.remove .fa-x {
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 0px;
  color: red;
}

.plus {
  width: 50px;
  height: 50px;
  border: 4px solid #32e5c4;
  border-radius: 2.4mm;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plus .fa-plus {
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 0px;
}

.showData {
  width: 100px;
  height: 50px;
  border: 4px solid #32e5c4;
  border-radius: 2.4mm;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #32e5c4;
  cursor: pointer;
}

.list-todo {
  position: absolute;
  top: 15%;
  margin-top: 100px;
  border-radius: 2.4mm;
  width: 90%;
  height: 350px;
  margin: 10px;
  background-color: black;
  overflow-y: scroll;
}

.listUl {
  list-style: none;
  width: 100%;
  line-height: 50px;
}

.listLi {
  text-transform: capitalize;
  border-bottom: 3px solid #32e5c4;
  font-size: 25px;
  color: #32e5c4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line-middle {
  text-decoration: line-through;
  color: red;
}

.removeButton {
  font-size: 25px;
  margin-right: 10px;
  color: black;
  float: right;
  border: none;
  background-color: red;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 2.4mm;
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  color: red;
}

@media screen and (max-width: 1200px) {
  .remove {
    width: 40px;
    height: 40px;
    border: 4px solid red;
    border-radius: 2.4mm;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .remove .fa-x {
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 0px;
    color: red;
  }
  .plus {
    width: 40px;
    height: 40px;
    border: 4px solid #32e5c4;
    border-radius: 2.4mm;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .plus .fa-plus {
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 0px;
  }
  .showData {
    width: 70px;
    height: 50px;
    font-size: 30px;
  }
}
@media screen and (max-width: 900px) {
  .savebox {
    position: relative;
    width: 95vw;
    height: 70vh;
    border: 4px solid #32e5c4;
    border-radius: 4.4mm;
    background-color: rgb(46, 44, 44);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .save-text {
    width: 60%;
    height: 45px;
    background-color: rgb(63, 63, 63);
    border: none;
    border-radius: 1.4mm;
    padding-left: 10px;
    cursor: text;
    font-size: 25px;
    color: #32e5c4;
  }
  .save-text:focus {
    outline: none;
  }
  .remove {
    width: 40px;
    height: 40px;
    border: 4px solid red;
    border-radius: 2.4mm;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .remove .fa-x {
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 0px;
    color: red;
  }
  .plus {
    width: 40px;
    height: 40px;
    border: 4px solid #32e5c4;
    border-radius: 2.4mm;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .plus .fa-plus {
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 0px;
  }
  .showData {
    width: 60px;
    height: 40px;
    font-size: 25px;
  }
}
@media screen and (max-width: 600px) {
  .remove {
    width: 30px;
    height: 30px;
    border: 4px solid red;
    border-radius: 2.4mm;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .remove .fa-x {
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 0px;
    color: red;
  }
  .plus {
    width: 30px;
    height: 30px;
    border: 4px solid #32e5c4;
    border-radius: 2.4mm;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .plus .fa-plus {
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 0px;
  }
  .showData {
    width: 60px;
    height: 30px;
    font-size: 25px;
  }
  .save-text {
    width: 40%;
    height: 45px;
    background-color: rgb(63, 63, 63);
    border: none;
    border-radius: 1.4mm;
    padding-left: 10px;
    cursor: text;
    font-size: 20px;
    color: #32e5c4;
  }
  .save-text:focus {
    outline: none;
  }
}/*# sourceMappingURL=saveInfo.css.map */